@charset "utf-8";

body {
    //background: url(../img/page_bg.png) center top / 100% 100% no-repeat;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#contWrap {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 70% !important;
    height: 90% !important;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.brief {
    color: #ffffff;
}

.brief .title {
    font-size: 0.17rem;
    margin-top: 0.2rem;
}

.brief .img {
    width: 100%;
}

.brief .desc {
    text-align: justify;
    text-justify: inter-ideograph;
    /*IE*/
}

.brief .desc /deep/ * {
    font-size: 0.15rem;
}

.brief .desc /deep/ p {
    text-indent: 2em;
}

.brief .desc /deep/ p br {
    font-size: 0;
}