@charset "utf-8";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(100vw / 19.2);
    font-family: "微软雅黑";
    /*移除默认点击高亮*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    /*移除文字选中*/
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
/*定义滚动条轨道 内阴影+圆角*/
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #807573;
}

[v-cloak] {
    display: none !important;
}

html,
body {
    width: 100%;
    height: auto;
}

html {
    padding-top: 56.25%;
    position: relative;
}

body {
    height: 100%;
    position: absolute;
    top: 0;
}
body {
    background: url(../img/allbg.png) center top / 100% 100% no-repeat;
}
ul,
ol,
li {
    list-style: none;
}

img {
    width: 100%;
    /*height: 100%;*/
    vertical-align: top;
    border: none;
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
}

a:active {
    color: #333;
}

/* 公共板块-左侧导航*/
.commonEle {}

/*顶部logo*/
.commonEle .topleft {
    width: 4.65rem;
    height: .84rem;
    position: absolute;
    top: 0.4rem;
    left: 0.3rem;
}

/*顶部时间 */
.commonEle .topright {
    width: auto;
    height: auto;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

.commonEle .topright .c1 {
    font-size: 0.32rem;
    color: #fff;
}


/*左侧菜单*/
.commonEle .leftnav {
    width: 3.53rem;
    height: 6.7rem;
    position: absolute;
    top: 2.54rem;
    left: 0;
    z-index: 100;
    background: url(../img/bg_leftnav.png) center center / 100% 100% no-repeat;
    /*padding: 0.5rem;*/
}

.commonEle .leftnav.animated {
    animation-delay: 0.5s;
}

.commonEle .leftnav ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commonEle .leftnav ul li {
    position: relative;
    height: calc(100% / 4 - 0.1rem);
    transition: all 0.2s ease-out 0s;
}

/*点击效果*/
.commonEle .leftnav ul li:not(:first-child):active,
.commonEle .leftnav ul li.on.effect {
    width: 3.9rem;
    background: url(../img/bg7.png) center center / 100% 100% no-repeat;
}

.commonEle .leftnav ul li.on.effect .name p {
    /*color: #ffffff;*/
}

.commonEle .leftnav ul li .subItem {
    position: absolute;
    /*left: 0.38rem;*/
    left: 0;
    /*padding-left: .38rem;*/
    top: 54%;
    transform: translateY(-50%);
   width: 100%;
    /*height: 0.7rem;*/
    height: 1.03rem;
}

/*左侧图标*/
.commonEle .leftnav ul li .subItem:before {
    display: block;
    content: " ";
    width: .92rem;
    height: 1.03rem;
    position: absolute;
    top: 50%;
    left: 0.38rem;
    transform: translateY(-50%);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*右侧文字*/
.commonEle .leftnav ul li .subItem .name {
    position: absolute;
    top: 50%;
    left: 1.3rem;
    /*right: 0.39rem;*/
    text-align: center;
    /*width: 0.9rem;*/
    width: 2.06rem;
    transform: translateY(-50%);
}
.commonEle .leftnav ul li.sub1 .subItem .name{
    width: 1.99rem;
    left: 1.03rem;
}

.commonEle .leftnav ul li .subItem .name .p1 {
    font-size: 0.27rem;
    text-align: center;
    color: #FFB95F;
}

.commonEle .leftnav ul li .subItem .name .p2 {
    font-size: 0.13rem;
    text-align: center;
    color: #FFB95F;
    /*max-width: 1rem;*/
    line-height: .3rem;
    margin: 0 auto;
    word-wrap: break-word;
}


.commonEle .leftnav ul li.sub1 .subItem {
    border: 1px solid #FFB95F;
    border-radius: 0.15rem;
    width: 3.03rem;
    margin: 0 0 0 .16rem;
}

.commonEle .leftnav ul li.sub1 .subItem img {
    display: block;
    width: 0.73rem;
    height: 0.73rem;
    position: absolute;
    top: 55%;
    left: 0.38rem;
    transform: translateY(-50%);
}

.commonEle .leftnav ul li.sub1 .subItem .p1 {
    line-height: 1.5;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.commonEle .leftnav ul li.sub1 .subItem .p1.nologin{
    color: #FFB95F;
    font-size: .3rem;
}
.commonEle .leftnav ul li.sub1 .subItem .p2 {
    display: block;
    width: 1.72rem;
    /*height: 0.2rem;*/
    line-height: .45rem;
    margin-top: 0.05rem;
    border-radius: 0.15rem;
    border: 0.005rem solid #d49f63;
    color: #d49f63;
    font-size: 0.24rem;
    /*line-height: 1.5;*/
    text-align: center;
    /*background-color: #AF6B1B;*/
}
.commonEle .leftnav ul li.sub1 .subItem .p2.nologin{
    border: 0;
    background: none;
}
.commonEle .leftnav ul li.sub21 .subItem:before {
    background-image: url(../img/bg22.png);
}

.commonEle .leftnav ul li.sub21.on .subItem:before {
    background-image: url(../img/bg21.png);
}

.commonEle .leftnav ul li.sub2 .subItem:before {
    background-image: url(../img/bg8.png);
}

.commonEle .leftnav ul li.sub2.on .subItem:before {
    background-image: url(../img/bg9.png);
}

.commonEle .leftnav ul li.sub3 .subItem:before {
    background-image: url(../img/bg10.png);
}

.commonEle .leftnav ul li.sub3.on .subItem:before {
    background-image: url(../img/bg11.png);
}

.commonEle .leftnav ul li.sub4 .subItem:before {
    background-image: url(../img/bg12.png);
}

.commonEle .leftnav ul li.sub4.on .subItem:before {
    background-image: url(../img/bg13.png);
}

/* 底部导航 */
.mynav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: -webkit-calc(100% - 2rem);
    width: -ms-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin-left: 2rem;
    height: 0.85rem;
    /*background-color: rgba(0, 0, 0, 0.75);*/
}

.mynav ul {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    width: 6.5rem;
    height: 100%;
    margin: 0 auto;
}

.mynav ul li {
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
    width: 0.8rem;
    height: 100%;
}

/* 登录后显示我的 博物馆 */
.mynav ul li.sub5 {
    display: none;
}

.mynav ul li a {
    height: auto;
    color: #fff;
    text-align: center;
    transition: all 0.2s ease-out 0s;
}

.mynav ul li a span {
    display: block;
    color: #FFB95F;
    margin-top: 0.03rem;
    font-size: 0.13rem;
}

.mynav ul li a:active,
.mynav ul li a.on {
    /*border-bottom: 0.05rem solid #FFB95F;*/
}

.mynav ul li a.on span {
    /*color: #C22E36;*/
}

.mynav ul li a .icon {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}

.mynav ul li a .icon1 {
    background-image: url('../img/icon_nav_news.png');
}

.mynav ul li a.on .icon1 {
    background-image: url('../img/icon_nav_news.png');
}

.mynav ul li a .icon2 {
    background-image: url('../img/icon_nav_brief.png');
}

.mynav ul li a.on .icon2 {
    background-image: url('../img/icon_nav_brief.png');
}

.mynav ul li a .icon3 {
    background-image: url('../img/icon_nav_guide.png');
}

.mynav ul li a.on .icon3 {
    background-image: url('../img/icon_nav_guide.png');
}

.mynav ul li a .icon4 {
    background-image: url('../img/icon_nav_3d.png');
}

.mynav ul li a.on .icon4 {
    background-image: url('../img/icon_nav_3d.png');
}

.mynav ul li a .icon5 {
    background-image: url('../img/icon_nav_my.png');
}

.mynav ul li a.on .icon5 {
    background-image: url('../img/icon_nav_my.png');
}


/*公共板块-登录*/
.loginEle {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.8);
}

/*登录弹层--左侧触摸笔图标*/
.loginEle .left {
    height: 4.0rem;
    width: 3.5rem;
    position: absolute;
    left: 1.0rem;
    top: 50%;
    margin-top: -2.0rem;
}

.loginEle .left .c1 {
    width: 2.7rem;
    height: 3.3rem;
    position: absolute;
    bottom: 0.4rem;
    left: 0.5rem;
    background: url('../img/icon_pen.png') center center / 100% 100% no-repeat;
    animation: peneffect 1.5s linear alternate infinite;
    z-index: 99;
}

@keyframes peneffect {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-0.3rem);
    }
}

.loginEle .left .c2 {
    width: 1.6rem;
    height: 1.0rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../img/icon_pen_bg.png') center center / 100% 100% no-repeat;
}

/* 登录弹层--右侧文字提示 */
.loginEle .right {
    position: absolute;
    width: 7.97rem;
    height: 4.68rem;
    top: 50%;
    margin-top: -2.0rem;
    right: 1.0rem;
}


.loginEle .right .c1 {
    width: 7.97rem;
    height: 4.68rem;
    padding: 0.36rem;
    background: url('../img/bg_login_tips.png') center center / 100% 100% no-repeat;
    margin: 0.65rem auto 0;
}

.loginEle .right .c1 p {
    font-size: .4rem;
    margin-bottom: 0.2rem;
    color: #FFB95F;
    text-align: left;
}

.loginEle .right a.c2 {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.3rem auto 0;
    background: url('../img/btn_close.png') center center / 100% 100% no-repeat;
}

/*公共板块-退出登录*/
.logoutEle {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.7);
}

.logoutEle .center {
    width: 4.1rem;
    height: 2.4rem;
    padding: 0.5rem 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/bg_login_tips.png) center center / 100% 100% no-repeat;
}

.logoutEle .center p {
    font-size: 0.2rem;
    text-align: center;
    color: #FFB95F;
}

.logoutEle .center a.c1 {
    display: block;
    width: 0.4rem;
    height: 0.8rem;
    padding: 0.2rem 0.1rem 0;
    position: absolute;
    bottom: 0.3rem;
    left: 1.3rem;
    background: url(../img/ok.png) center center / 100% 100% no-repeat;
    font-size: 0.15rem;
    color: #fff;
    text-align: center;
}

.logoutEle .center a.c2 {
    display: block;
    width: 0.4rem;
    height: 0.8rem;
    padding: 0.2rem 0.1rem 0;
    position: absolute;
    bottom: 0.3rem;
    right: 1.3rem;
    background: url(../img/cancel.png) center center / 100% 100% no-repeat;
    font-size: 0.15rem;
    color: #fff;
    text-align: center;
}

/*公共板块-返回首页倒计时*/
#backTimer {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    bottom: 0.3rem;
    left: 0.1rem;
    z-index: 999999;
    display: none;
}

#backTimer circle {
    opacity: 1;
    -webkit-transition: stroke-dasharray 1s linear;
    transition: stroke-dasharray 1s linear;
}

#backTimer text {
    font-size: 0.14rem;
}

/*返回按钮*/
#btn_back {
    display: block;
    position: absolute;
    bottom: 0.3rem;
    left: 0.8rem;
    width: 0.76rem;
    height: 1.45rem;
    z-index: 9999;
    font-size: 0;
    background: url('../img/btn_back.png') top center / 100% 100% no-repeat;
}


/* 断网提示 */
.netFail {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

.net_fail {
    width: 4rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.net_fail .c1 {
    width: 4rem;
    height: 2.17rem;
    padding: 0.36rem;
    margin-bottom: 0.25rem;
    background: url('../../public/img/bg_login_tips.png') center center / 100% 100% no-repeat;
}

.net_fail .c1 .icon_fail {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.1rem auto 0.1rem;
    background: url('../../public/img/icon_net_fail.png') center center / 100% 100% no-repeat;
}

.net_fail .c1 p {
    font-size: 0.16rem;
    line-height: 1.5;
    text-align: center;
    color: #FFB95F;
}

.net_fail a.c2 {
    display: block;
    width: 0.96rem;
    height: 0.36rem;
    margin: 0 auto;
    /*background: url('../../public/img/btn_refresh.png') center center / 100% 100% no-repeat;*/
}


/*无数据提示*/
.no_data {
    width: 4.44rem;
    height: 2.17rem;
    margin: 0.8rem auto;
    padding: 0.36rem;
    /*background: url('../img/bg_login_tips.png') center center / 100% 100% no-repeat;*/
}

.no_data img {
    display: block;
    width: 0.8rem;
    height: 0.75rem;
    margin: 0 auto 0.2rem;
}

.no_data .tips p {
    font-size: 0.16rem;
    text-align: center;
    color: #C8A063;
}

.no_data .tips p+p {
    margin-top: 0.1rem;
}



/* 触摸屏内容手势滑动 */
#contWrap {}

#contWrap.swiper-container {
    width: 100%;
    height: 100%;
}

#contWrap.swiper-container .swiper-wrapper .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

#contWrap.swiper-container .swiper-scrollbar {
    background: rgba(0, 0, 0, 0);
    /*top: 0;
    right: 0;*/
}

#contWrap.swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #C8A063;
}
#scroll{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}