@charset "utf-8";

.history {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.history ul {
    width: 8rem;
    height: 100%;
    margin: 0 auto;
    padding: 0.3rem 0;
    overflow-y: auto;
    position: relative;
}

.history ul li {
    float: left;
    width: 0.9rem;
    height: 1.22rem;
    position: relative;
}

/* 包括坐标点、具体时间、小圆点 */
.history ul li .time {
    width: 100%;
    height: 0.25rem;
    line-height: 0.25rem;
    position: absolute;
    top: -0.235rem;
    font-size: 0.11rem;
    color: #fff;
    text-indent: 0;
    text-align: center;
}

/* 小圆点 */
.history ul li .time:after {
    display: block;
    content: " ";
    width: 0.08rem;
    height: 0.08rem;
    position: absolute;
    bottom: -0.02rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    border: 0.02rem solid #F3CF80;
    z-index: 9999;
}


.history ul li .img {
    width: 0.6rem;
    height: 0.7rem;
    position: absolute;
    top: 0.1rem;
    left: 0.15rem;
    background: url('../img/bg_history_point.png') top center / 100% 100% no-repeat;
}

.history ul li .img img {
    position: absolute;
    bottom: 0.05rem;
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    left: 50%;
    margin-left: -0.26rem;
    border-radius: 50%;
    outline: none;
    z-index: 999;
}


/*回复曲线时间轴*/
.history ul li.fleft {
    float: left;
}

.history ul li.fright {
    float: right;
}

.history ul li:before {
    display: block;
    content: " ";
    width: 100%;
    height: 0.04rem;
    position: absolute;
    top: -0.01rem;
    left: 0;
    background-image: url('../img/icon_history_line.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: top center;
}

/* 去除右半部分 */
.history ul li:nth-child(8n):before,
.history ul li:nth-child(8n + 1):before {
    width: 0.45rem;
    margin-left: 0;
}

/* 去除左半部分 */
.history ul li:nth-child(16n):before,
.history ul li:nth-child(16n + 1):before {
    width: 0.45rem;
    margin-left: 0.45rem;
}

/* 第一个和最后一个100% */
.history ul li:nth-child(1):before,
.history ul li:last-child:before {
    width: 100%;
    margin-left: 0;
}


/* 下一行第一个 */
.history ul li.no:before {
    width: 0.45rem;
}

.history ul li.fleft.no:before {
    margin-left: 0.45rem;
}

.history ul li.fl_first {
    margin-left: 0.4rem;
}

.history ul li.fr_first {
    margin-right: 0.4rem;
}


.history ul li:after {
    display: block;
    content: " ";
    width: 0.55rem;
    height: 1.25rem;
    position: absolute;
    top: -0.015rem;
}

.history ul li:nth-child(8n):after {
    left: 0.45rem;
    right: auto;
    background-image: url('../img/icon_history_circle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
}

.history ul li:nth-child(16n):after {
    left: auto;
    right: 0.45rem;
    background-image: url('../img/icon_history_circle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(0deg);
}

.history ul li:nth-child(1):after,
.history ul li:last-child:after {
    display: none;
    content: "";
}