@charset "utf-8";

body {
    background: url(../img/bg.png) center top no-repeat;
    background-size: 100% 100%;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.top {
    width: 4.41rem;
    height: 7.53rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../img/bg1.png) center top / 100% 100% no-repeat;
    animation-duration: 0.8s;
    animation-delay: 0.1s;
}

.top .start {
    display: block;
    width: 1.05rem;
    height: 2.1rem;
    position: absolute;
    bottom: 1.39rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.top a.start1 {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*animation-duration: 1.5s;*/
    /*animation-delay: 1.5s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate-reverse;*/
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    overflow: hidden;
}

.top a.start1:before {
    content: ' ';
    position: absolute;
    width: 90px;
    height: 20px;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-left: 10px;
    opacity: 0.9;
    background: url(../img/s.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: skewY(-45deg);
    animation: liuguang 3000ms normal infinite;
    -moz-animation: liuguang 3000ms normal infinite;
    -webkit-animation: liuguang 3000ms normal infinite;
    -ms-animation: liuguang 3000ms normal infinite;
    -o-animation: liuguang 3000ms normal infinite;
    z-index: 10;
}

@keyframes liuguang {
    0% {
        height: 40px;
        top: -100px;
    }
    60% {
        height: 40px;
        top: -100px;
        opacity: 1;
    }
    100% {
        height: 60px;
        top: 205px;
        opacity: 0.3;
    }
}

@-moz-keyframes liuguang {
    0% {
        height: 40px;
        top: -100px;
    }
    60% {
        height: 40px;
        top: -100px;
        opacity: 1;
    }
    100% {
        height: 60px;
        top: 205px;
        opacity: 0.3;
    }
}

@-webkit-keyframes liuguang {
    0% {
        height: 40px;
        top: -100px;
    }
    60% {
        height: 40px;
        top: -100px;
        opacity: 1;
    }
    100% {
        height: 60px;
        top: 205px;
        opacity: 0.3;
    }
}

@-ms-keyframes liuguang {
    0% {
        height: 40px;
        top: -100px;
    }
    60% {
        height: 40px;
        top: -100px;
        opacity: 1;
    }
    100% {
        height: 60px;
        top: 205px;
        opacity: 0.3;
    }
}

@-o-keyframes liuguang {
    0% {
        height: 40px;
        top: -100px;
    }
    60% {
        height: 40px;
        top: -100px;
        opacity: 1;
    }
    100% {
        height: 60px;
        top: 205px;
        opacity: 0.3;
    }
}

.bottom {
    width: 4.11rem;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.start {
    width: 1.35rem;
    height: 0.45rem;
    margin: 0 auto;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.pen {
    width: 100%;
    height: auto;
    margin: 0.3rem auto 0;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.pen .r1 {
    width: 100%;
    height: .45rem;
    animation-duration: 1s;
    animation-delay: 1s;
}

.pen .r2 {
    width: 1.05rem;
    height: 1.28rem;
    margin: 0.4rem auto 0;
    animation: jumpdown 0.3s ease-in infinite alternate;
}


.qrcode {
    width: 1.9rem;
    height: 2.47rem;
    position: absolute;
    bottom: 0.6rem;
    right: 1.83rem;
}

.qrcode .r2 {
    width: 100%;
    height: auto;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
}

.qrcode .r2 .title {
    width: 100%;
    height: 0.45rem;
    line-height: 0.25rem;
    font-size: 0.14rem;
    color: #fff;
    text-align: center;
    /*border: 1px solid #fff;*/
    border-radius: 0.3rem;
    letter-spacing: 0.015rem;
    background: url(../img/icon_wx.png) center top no-repeat;
    background-size: 100% 100%;
}

.qrcode .r2 img {
    /*border: 2px solid #FFD04B;*/
    width: 100%;
    height: 1.92rem;
    margin-top: 0.1rem;
}


a.enter {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

@keyframes jumpdown {
    from {
        transform: translateY(-0.2rem);
    }

    to {
        transform: translateY(0);
    }
}

.noticebox {
    position: absolute;
    left: .72rem;
    bottom: .72rem;
    width: 4.6rem;
    height: 1.84rem;
    background: url(../img/zixun.png) center top no-repeat;
    padding: 0.35rem 0.27rem;
    z-index: 3;
}
.swiper-container{
    overflow: hidden;
    height: 1.14rem;
}
.swiper-container .swiper-slide {
    font-size: 18px;
    color: #fff;
    line-height: .48rem;
}