@charset "utf-8";

body {
    background: url(../img/allbg.png) center top / 100% 100% no-repeat;
}

.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#contWrap {
    padding: 0;
    position: absolute;
    top: .93rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 15.44rem !important;
    height: 8.46rem !important;
    /*transform: translate(-50%, -50%);*/
    /*background-color: rgba(44, 44, 42, 0.8);*/
    color: #C8A063;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    background-image: url("../../public/img/wenzibeijing0.png");
    background-size: 100% auto;
    background-repeat: no-repeat;

}
.swiper-container{
    background-color: #42070C;
    /*background-image: url("../../public/img/wenzibeijing0.png");*/
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat;*/
}
.news_detail {
    padding: .7rem 0 0 0!important;
}
.news_detail .title {
    font-size: 0.4rem;
    color: #FFB95F;
}

.news_detail .date {
    font-size: 0.15rem;
    margin: 0.1rem 0;
}

.news_detail .img {
    width: 4.15rem;
    height: 2.5rem;
    margin: 0.2rem auto;
}

.news_detail .desc {
    text-align: justify;
    text-justify: inter-ideograph;
    /*IE*/
    padding: .5rem 1.5rem;
    color: #FFB95F;
    font-size: .26rem;
    word-break: break-all;
    text-indent: 2em;
}

.news_detail .desc /deep/ * {
    font-size: 0.15rem !important;
}

.news_detail .desc /deep/ p br {
    font-size: 0;
}